body {
    font-family: 'Lato';
    text-align: center;
    color: #ffffff;
    margin: 0;
    min-height: 180px;
    padding: 0;
    width: 504px;
    height: 110px;
    overflow:hidden;
    
}

#clock {
    font-weight: 300;
    font-size: 100px;
}

#hex-color {
    margin:-40px;
    font-size: 20px;
}